body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: hotpink;
}

.app-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: beige;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: inherit;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button {
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: #007bff;
}

form {
  display: grid;
  grid-gap: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
}

input,
textarea,
select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .app-container {
    margin: 1rem;
  }
}
